<!DOCTYPE html>
<html lang="en">
    <head>
	     <title>Air Quality Prediction System</title>
		 
	</head>
	 
    <body>
	  
	   
	         <h1 class="display-2">Predict</h1>
	 
 
	 <br>
   <h1  ><b> Air Quality Index<b></h1>
	
         

  <table  > 
 
  	<form action='/predict' method="POST">  
         
	
		<tr><td> Sulphur Dioxide Concentration (SO2)
			<td>  <input type=float name="so2"  placeholder="enter integer value" >
        </tr>
        
		<tr><td> Nitrogen Dioxide Concentration (N02)
			<td>  <input type=float name="no2"  placeholder="enter integer value" >
        </tr>
		<tr><td> Respirable Suspended Particualte Matter Concentration (RSPM)
			<td>  <input type=float name="rspm"  placeholder="enter integer value" >
        </tr>
		<tr><td>  Suspended Particulate Matter Concentration (SPM)
			<td>  <input  type=float name="spm"  placeholder="enter integer value" >
        </tr>
		 
		
       <tr>
		<td colspan=2 align=center><br><button type="submit" class="btn-btn-danger">Predict</button>
		</tr>
  </table>
    </form>
				   <br> {{pred}}<br>    

  
	 
     </body>
</html>	 